conda.enabled = true
executor.perCpuMemAllocation = false

process {
	executor = 'slurm'
	cpus = 10
	memory = '125 GB'
	time = '800h'
}

process {
    withLabel: big_mem {
	executor = 'slurm'
        cpus = 10
        memory = '500 GB'
	queue  = 'himem'
	time = '800h'
    }
}
params {
	threads = 10
	datatype = "fastq"
	reference = "/scratch/home/strikannad/HCC1395/clairs_HCC1395/GRCh38.d1.vd1.fa"
	fai = "/scratch/home/strikannad/HCC1395/clairs_HCC1395/GRCh38.d1.vd1.fa.fai"
	bed = "/scratch/home/strikannad/HCC1395/data/High-Confidence_Regions_v1.2.bed"
}
